/* Estilo base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo do cabeçalho */
header {
    background-color: #b6a960;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do logotipo */
.logo {
    max-width: 100px; /* Largura máxima do logotipo */
    height: auto;
    margin-left: 10px; /* Espaçamento entre o logotipo e o conteúdo */
    border-radius: 50%;
}

.logo-container {
    display: flex;
    align-items: center;
}

/* Estilo da barra de pesquisa */
.barra-pesquisa {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Barra de pesquisa crescerá para ocupar mais espaço */
    width: 600px; /* Largura máxima da barra de pesquisa no computador */
    margin-right: 200px;
}

/* Estilo do campo de pesquisa */
.barra-pesquisa input[type="text"] {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 4px;
    
}

@media only screen and (max-width: 600px) {
    /* Estilo da barra de pesquisa em telas pequenas */
    .barra-pesquisa {
        margin-top: 10px;
        width: 250px; /* Remover largura máxima no celular */
        margin-right: auto;
    }
    .barra-pesquisa input[type="text"] {
        padding: 8px;
    }
}








.Computação_em_nuvem{
    background-color: aqua;
    height: 100px;
}










/*os 3 blocos colados*/
.container {
    display: flex;
    overflow: hidden;
    text-align: center;
    height: 600px;
}

.bloco {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    transition: flex 0.5s ease;
    cursor: pointer;
    position: relative;
    flex-grow: 1; /* Adicionado */
    color: #f0f0f0;
}

.bloco:hover, .bloco.active {
    flex: 3;
}

.conteudo {
    display: none;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}

.bloco.active .conteudo {
    display: block;
}

@media only screen and (max-width: 600px) {
    .bloco {
        flex-basis: 100%;
        overflow: visible;
        margin-bottom: 0;
    }
    .container {
        flex-direction: column;
        height: auto;
    }
}

#iaas, #Iaas{
 background-color: #dbcb6e;
}
#paas, #Paas{
    background-color: #b6a960;
}
#saas, #Saas{
    background-color: #dbcb6e;
}
/*os 3 blocos colados*/